@use '@/styles/variables' as var;
@use '@/styles/breakpoints' as bp;

// Общий контейнер формы
.register-form {
  position: relative;
  max-width: 520px;
  width: 100%;
  padding: var.$spacing-xl;
  background: var.$color-dark-form-bg;
  border-radius: 15px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;

  @include bp.nmd {
    padding: var.$spacing-l var.$spacing-m;
  }

  @include bp.nsm {
    padding: var.$spacing-m var.$spacing-s;
    box-shadow: none;
  }
}

.register-form__label {
  color: var.$color-text-primary-dark-theme;
  font-size: var.$font-size-medium;
  font-weight: bold;

  @include bp.nsm {
    font-size: var.$font-size-small;
  }
}

// Форма
.register-form__form {
  width: 100%;
}

// Кнопка
.register-form__button {
  background-color: var.$color-gold;
  color: black;
  font-size: 1.125rem;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: bold;
  border: none;

  &:hover {
    background-color: var.$color-gold-hover;
    box-shadow: 0px 6px 15px rgba(255, 215, 0, 0.3);
  }

  @include bp.nsm {
    font-size: var.$font-size-medium;
  }
}

.register-form__footer {
  margin-top: var.$spacing-medium;
  font-size: 0.9375rem;
}

.register-form__signup-link {
  color: var.$color-gold;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
