@use '@/styles/variables' as var;
@use '@/styles/breakpoints' as bp;

.auth-header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: var.$spacing-s;
}

.auth-header__icon {
  color: var.$color-gold;
  font-size: 3.75rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  @include bp.nsm {
    font-size: 2.8rem;
  }
}

.auth-header__brand,
.auth-header__title {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: var.$color-text-primary-dark-theme !important;
}

.auth-header__brand {
  color: var.$color-gold !important;
  font-size: 1.125rem !important;
}

.auth-header__title {
  margin-bottom: var.$spacing-medium !important;
}
