.auth-form {
    width: 40vw;
    padding: 2.5rem;
    background: linear-gradient(135deg, #ffffff, #dbe4ff);
    border-radius: 1.25rem;
    box-shadow: 0rem .5rem 1.25rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    transform: translateY(10%);
    gap: .3rem;
}

.auth-form__title {
    font-size: 1.625rem;
    font-weight: bold;
    color: #4A6AFF;
    margin-bottom: .625rem;
}

.auth-form__subtitle {
    font-size: 1rem;
    color: #6C757D;
    margin-bottom: 1.875rem;
}

.auth-form__form {
    width: 100%;
    max-width: 22.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-form__input {
    border-radius: .625rem;
    font-size: .875rem;
    margin-bottom: .625rem;
}

.auth-form__divider {
    width: 100%;
    max-width: 22.5rem;
    height: .0625rem;
    background: #E0E0E0;
    margin: 1.25rem 0;
}

.auth-form__social-login {
    display: flex;
    justify-content: center;
    gap: .625rem;
    margin-top: .625rem;
}

.auth-form__button {
    margin-top: 0.5rem;
    padding: 0.625rem 0;
    border-radius: 0.625rem;
    font-size: 1rem;
    text-transform: none;
    background-color: #4A6AFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form__social-icon {
    width: 2.5rem;
    height: 2.5rem;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem .25rem .625rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.auth-form__social-icon:hover {
    transform: scale(1.1);
    box-shadow: 0rem .375rem .9375rem rgba(0, 0, 0, 0.2);
}

.auth-form__footer {
    margin-top: 1.25rem;
    font-size: .875rem;
    color: #6C757D;
}

.auth-form__footer a {
    color: #4A6AFF;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
